
.box {
    height: 100px;
    width: 100px;
    display: inline-block;
}

.exercise5{
    height: 100px;
    width: 100px;
    padding: 10px;
    border: 5px solid purple;
    box-sizing: border-box;
    margin: auto;
    overflow: hidden
}